@{
    var siteName = "Bun IP";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="keywords" content="@ViewData["MetaKeywords"]" />
    <title>@ViewData["Title"] - @siteName</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.bun.plus/ip/wwwroot/icon_512.png">
    <link rel="icon" type="image/png" href="https://cdn.bun.plus/ip/wwwroot/favicon.png">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap/4.6.1/css/bootstrap.min.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

    <environment include="Staging">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment include="Production">
        <link rel="stylesheet" href="https://cdn.bun.plus/ip/wwwroot/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    @siteName
                </a>

                <span class="form-inline">
                    <span id="VersionInfo"
                          class="text-muted"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="由 @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription 驱动">
                        v@(System.Reflection.Assembly.GetEntryAssembly().GetName().Version)
                    </span>

                    <vc:pi-logo />
                </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark text-white text-center pt-3 pb-3">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="text-reset nav-link disabled" href="#">Bun IP <vc:ip-v6-tag></vc:ip-v6-tag></a>
                </li>
                <li class="nav-item">
                    <a class="text-reset nav-link" href="https://github.com/huhubun/BunIp">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="text-reset nav-link" href="https://bun.plus/posts/use-razor-pages-implement-website-to-show-real-ip-and-check-ipv6-part-of-design">技术内幕</a>
                </li>
            </ul>

            <vc:ad position="F" />

            <div class="my-1">
                &copy; @DateTime.Now.Year <a class="text-reset" href="https://bun.plus">huhubun</a>
            </div>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="text-reset nav-link" href="http://www.beian.miit.gov.cn/">辽ICP备19020441号</a>
                </li>
                <li class="nav-item">
                    <a class="text-reset nav-link" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21021102000757">辽公网安备21021102000757号</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment include="Staging">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <environment include="Production">
        <script src="https://cdn.bun.plus/ip/wwwroot/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $('#VersionInfo, #PiLogo').tooltip()
        })
    </script>
</body>
</html>
