@{
    var siteName = "Bun IP";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @siteName</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    @siteName
                    <small><span class="badge badge-secondary">IPv6</span></small>
                </a>

                <span class="navbar-text">
                    v@(System.Reflection.Assembly.GetEntryAssembly().GetName().Version)
                </span>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year <a class="text-reset" href="https://bun.plus">huhubun</a> - <a class="text-reset" href="https://github.com/huhubun/BunIp">GitHub</a> - <a class="text-reset" href="http://www.beian.miit.gov.cn/">辽ICP备19020441号</a> - <a class="text-reset" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21021102000757">辽公网安备21021102000757号</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
