@page
@model IndexModel
@{
    ViewData["Title"] = "本机 IP 地址查询、IPv6 兼容性测试";
    ViewData["MetaDescription"] = "通过 Bun IP 站点可以测试您的网络是否支持 IPv6，也能查看您的公网 IP 地址。";
    ViewData["MetaKeywords"] = "IPv6测试,IPv6兼容,IPv6地址,IP地址查询,本机IP,公网IP";

    var tryGetIpV4 = Model.TryGetIpV4 && Model.AjaxIpv4Url != null;
    var tryGetIpV6 = Model.TryGetIpV6 && Model.AjaxIpv6Url != null;
}

<vc:ip-only-message />

<div class="text-center">
    <p class="lead mb-0">您的 IP 地址</p>

    <vc:ip-tag address-family="@Model.DisplayIp.AddressFamily"></vc:ip-tag>

    <h2 id="IpDisplay" class="display-4">
        @Model.DisplayIp
    </h2>

    @if (tryGetIpV4 || tryGetIpV6)
    {
        <div id="LoadingGetAnotherIp" class="text-center text-secondary">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="lead">
                正在检查其他 IP 地址
            </p>
        </div>
    }

    @if (tryGetIpV4)
    {
        <div id="GetIpV4" class="d-none">
            <p class="lead">
                您也拥有 <small><vc:ip-tag address-family="InterNetwork"></vc:ip-tag></small> 地址 <span class="ip-address"></span>
            </p>
        </div>
    }

    @if (tryGetIpV6)
    {
        <div id="GetIpV6" class="d-none">
            <p class="lead">
                您也拥有 <small><vc:ip-tag address-family="InterNetworkV6"></vc:ip-tag></small> 地址 <span class="ip-address"></span>
            </p>
        </div>
    }
</div>

<vc:ad position="A" />

<div class="list-group">
    @foreach (var h in HttpContext.Request.Headers)
    {
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2">@h.Key</h5>
            </div>

            <p class="mb-0 text-break">@h.Value</p>
        </a>
    }
</div>

<vc:ad position="B" />

@section Scripts
{
    <script>
        function showAnotherIp(container) {
            return function (data) {
                container.find('.ip-address').text(data.ip)
                container.removeClass('d-none')
            }
        }

        function hideLoadingGetAnotherIp() {
            $("#LoadingGetAnotherIp").hide()
        }

        $(function () {
            var getIpV4 = $('#GetIpV4')
            var getIpV6 = $('#GetIpV6')

            var get;

            if (getIpV4.length > 0) {
                get = $.get('@Model.AjaxIpv4Url', showAnotherIp(getIpV4))
            }

            if (getIpV6.length > 0) {
                get = $.get('@Model.AjaxIpv6Url', showAnotherIp(getIpV6))
            }

            if (get) {
                get.always(hideLoadingGetAnotherIp)
            }
        });
    </script>
}
