@using BunIp.Web.Configs.BunIpConfigs.Ads
@model BunIp.Web.Pages.Shared.Components.AdTag.ViewModel

@{
    var isEnable = Model.Ad?.Enable ?? false;
    string classNames = null;

    switch (Model.Position)
    {
        case AdPosition.A:
            classNames = "mt-2 mb-3";
            break;

        case AdPosition.B:
            classNames = "mt-3";
            break;

        default:
            break;
    }
}

@if (isEnable)
{
    @if (Model.Ad is ImageAd)
    {
        var ad = Model.Ad as ImageAd;

        <div class="@classNames">
            <a href="@ad.Url"><img src="@ad.ImageUrl" title="@ad.Description" class="mx-auto d-block img-fluid" /></a>
        </div>
    }

    @if (Model.Ad is TextAd)
    {
        var ad = Model.Ad as TextAd;

        <div>
            <a href="@ad.Url" class="btn btn-link btn-sm text-wrap text-reset text-decoration-none">
                <span class="badge badge-light">推广</span>
                @ad.Text
            </a>
        </div>
    }
}